body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.carousel-inner{
  /* overflow:visible !important; */

  overflow:  hidden !important;
}
.carousel-indicators{
  left: -173px !important;
  justify-content: start !important;
  bottom: 40px !important;
}
.card{
  width: 19rem !important;
  margin: 2%  !important ;
  padding: 0 !important;
  background: #FFFFFF 0% 0% no-repeat padding-box !important;
  opacity: 1 !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


}
.card-img, .card-img-top{
  height: 240px !important;
}
.card-title {
  margin-bottom: var(--bs-card-title-spacer-y);
  text-align: left;
  font: normal normal 12px Poppins;
  letter-spacing: 0px;
  color: #5E6282;
  opacity: 1;
  font-size: 15px !important;
  font-weight: 200 !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
}


.card-edge{
  width: 40rem !important;
  margin: auto !important;

}